body {
    background-color: rgb(255 227 185);
    font-size: 12px;
}

nav {
    text-align: center;
    overflow: hidden;
    position: sticky;
    top: 5px;
    background-color: rgb(255,255,255);
    box-sizing: border-box;
    border-radius: 24px;
    margin: 0px 5%;
    height: 3rem;
}

    nav a, nav button {
        font-size: 1.8em;
        line-height: 3rem;
        text-decoration: none;
        color: rgb(0,0,0);
        opacity: .6;
        margin: 0px 2%
    }

        nav a:nth-of-type(1) {
            margin: 0px 3%;
            font-size: 2.25em;
            font-weight: 600;
            font-variant: small-caps;
            color: rgb(176 145 99);
        }

    nav a {
        float: left;
    }

        nav a:hover {
            opacity: 1;
            text-decoration: underline;
        }

    nav button {
        float: right;
    }

section:nth-of-type(1) {
    padding-top: 70px;
}

body > section {
    padding: 20px;
    min-height: 200px;
}

#greeting {
    clear: both;
}

    #greeting img {
        float: left;
    }

    #greeting h1{
        line-height:200px;
    }


img {
    max-width: 300px;
    border-radius: 50%;
}


@media screen and (min-width:600px) {
}
