body {
    background: rgb(51 53 255);
    color: rgb(255 255 255);
}

header{
    background: rgb(43 45 192);
    padding: 10px;
}

section {
    display: inline-block;
    background: rgb(88 89 250);
    text-align: center;
    float: left;
    margin:20px 10px;
    padding:5px;
    border: 5px groove rgb(36 38 164);
    width: 45%;
}

h2{
    font-size:30px;
    background: rgb(43 45 192);
    margin:0px;
    margin-bottom: 7px;
    padding:3px;
}

ul,ol{
    list-style-type:none;
    margin:0px;
    padding:0px;
}

li, a{
    display: inline-block;
    background: rgb(51,53,255);
    margin: 5px;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 900;
    width: 40%;
}

/*Need to style <a> in order to affect link/visited/hover/active link-states*/
a:link, a:visited {
    background: rgb(51,53,255);
    text-decoration:none;
    color: rgb(255 255 255);
}

/*When cursor is over element*/
a:hover {
    background: rgb(37 38 181);
    text-decoration: underline;
}

/*When clicking on element*/
a:active {
    border:5px groove rgb(37 38 181);
}
